.login{
	width: 40%;
	margin: auto;
	color: white;
	background-color: rgba(0,0,0,0.4);
	padding: 50px;
	padding-top: 100px;
	height: 90%;
}

.title-login{
	padding-bottom: 20px;
	font-size: 30px;
	display: table;
	margin: 0 auto; 
}

.formInput{
	background-color: rgba(125,125,125,0.4);
	color: white;
	border: 0;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
}

#div-linkTo{
	padding-top: 10px;
}

#div-linkTo a{
	text-decoration: none;
	color: white;
}

#login-container{
	background-color: rgba(0,0,0,0.2);
	height: 100%;
	padding-top: 50px;
}


#loginButton{
	display: table;
	margin: 0 auto;
	width: 100%;
	margin-top: 20px;
}

html, body{
	height: 100%;
}
body{
	background:url("empty-cinema.jpg");
	background-size: 100% 100%;
	overflow-x: hidden;
}